* {
  margin: 0;
  padding: 0; }

body {
  background: #FAFAFA;
  overflow-x: hidden; }

#fulContainer {
  width: 100%;
  overflow: hidden; }

.navContent {
  width: 1300px;
  margin: auto; }

#header {
  width: 100vw;
  height: 4rem;
  background: #000000;
  line-height: 4rem;
  margin: 0; }
  #header a {
    color: #b3b3b3;
    text-decoration: none; }
  #header span {
    font-size: 2.5rem; }
  #header ul {
    list-style: none;
    float: right;
    margin-bottom: 0; }
    #header ul li {
      float: left;
      margin: 0 1.5rem; }
      #header ul li:hover a {
        color: gray; }

.share_container {
  width: 6rem;
  height: 20rem;
  position: fixed;
  right: 6rem;
  bottom: 6rem; }
  .share_container .share_sina, .share_container .share_wechat, .share_container .toTop {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: .5rem;
    background: #E0E0E0;
    margin: 1rem 0;
    line-height: 3.5rem;
    font-size: 2rem;
    opacity: .8;
    color: #ffffff; }
    .share_container .share_sina:hover, .share_container .share_wechat:hover, .share_container .toTop:hover {
      background: #b3b3b3; }
    .share_container .share_sina img, .share_container .share_wechat img, .share_container .toTop img {
      display: none; }
    .share_container .share_sina .sina, .share_container .share_wechat .sina, .share_container .toTop .sina {
      position: relative;
      left: -17rem;
      top: -3.5rem; }
    .share_container .share_sina .wechat, .share_container .share_wechat .wechat, .share_container .toTop .wechat {
      position: relative;
      left: -14rem;
      top: -9rem; }

/*.box {*/
  /*width: 1920px;*/
  /*height: 600px;*/
  /*position: relative;*/
  /*overflow: hidden; }*/
  /*.box .box_img {*/
    /*width: 3840px;*/
    /*height: 600px;*/
    /*position: absolute;*/
    /*transition: .8s ease-in-out; }*/
    /*.box .box_img .img1 {*/
      /*width: 1920px;*/
      /*height: 600px;*/
      /*background: url("../img/img1.png") no-repeat center;*/
      /*float: left; }*/
    /*.box .box_img .img2 {*/
      /*width: 1920px;*/
      /*height: 600px;*/
      /*background: url("../img/img2.png") no-repeat center;*/
      /*float: left; }*/
  /*.box .circle {*/
    /*width: 80px;*/
    /*position: absolute;*/
    /*bottom: 10px;*/
    /*left: 900px; }*/
  /*.box .circle span {*/
    /*width: 10px;*/
    /*height: 10px;*/
    /*border-radius: 50%;*/
    /*margin-left: 5px;*/
    /*background-color: #cecece;*/
    /*float: left; }*/
  /*.box .circle .on {*/
    /*background-color: #B2B2B2; }*/

#box{
  overflow: hidden;
}
#box li{
  list-style: none;
  float: left;
}
.CarouselList{
  transition: all .5s ease-in-out;
}
.Carousel_bgImg{
  float: left;
  cursor: pointer;
}

.Carousel_btn_list{
  width: 80px;
  height: 30px;
  position: relative;
  top: -30px;
  margin: auto;
}
.Carousel_btn_list span{
  display:block;
  float:left;
  width:15px;
  height:15px;
  border-radius:50%;
  background-color: #cecece;
  margin-left: 10px;
}
.Carousel_btn_list .Carousel_btn_on{
  background-color: #B2B2B2;
}


.content {
  height: 500px; }

.index-box {
  width: 1270px;
  height: 300px;
  border-bottom: 1px solid #ccc;
  margin: auto; }

.index-three {
  height: 100px;
  margin-top: 100px;
  list-style-type: none; }
  .index-three li {
    float: left; }

.friend_link {
  background: #f1f1f1;
  height: 140px;
  border: 1px solid transparent; }
  .friend_link .link_ {
    line-height: 20px;
    width: 976px;
    height: 20px;
    margin: 57px auto;
    list-style-type: none;
    position: relative; }
    .friend_link .link_ .link {
      width: 120px;
      height: 20px;
      border-right: 1px solid #858585;
      text-align: center;
      float: left; }
      .friend_link .link_ .link a {
        display: inline-block;
        color: #858585; }
        .friend_link .link_ .link a:hover {
          color: darkorange; }
    .friend_link .link_ .border_right {
      width: 134px;
      background: url("../img/index_3-1.png") no-repeat;
      background-position: 109px -19px;
      border: none;
      z-index: 22; }
      .friend_link .link_ .border_right:hover {
        background-color: #ffffff;
        background-position: 109px 7px; }
      .friend_link .link_ .border_right:hover ul {
        display: block; }
      .friend_link .link_ .border_right .link_ul {
        display: none;
        width: 134px;
        height: 96px;
        background: #ffffff;
        text-align: center;
        list-style-type: none;
        position: absolute;
        top: -95px;
        right: 122px; }
        .friend_link .link_ .border_right .link_ul .link_ul_li {
          color: #626262;
          line-height: 32px; }
          .friend_link .link_ .border_right .link_ul .link_ul_li:hover {
            color: darkorange; }
  .friend_link .WX:hover .WeChat_pic {
    display: block; }
  .friend_link .WX .WeChat_pic {
    display: none;
    position: absolute;
    top: -129px;
    width: 120px;
    height: 120px;
    background: url("../img/index_89.png") no-repeat center;
    background-size: contain; }
  .friend_link p {
    text-align: center;
    margin: -33px 0 10px;
    font-size: 10px;
    color: #626262; }

.foot_box {
  height: 253px; }

.foot_box ul {
  width: 1300px;
  height: 200px;
  margin: 100px auto;
  list-style-type: none;
  border-bottom: #2e6da4; }

.foot_box ul li {
  width: 345px;
  float: left;
  margin-left: 80px; }

.box_a {
  display: inline-block;
  width: 331px;
  border-right: 1px solid #CAC6C6;
  color: #858585; }
  .box_a i {
    font-style: normal;
    font-size: 20px; }
  .box_a:hover {
    text-decoration: none;
    color: darkorange; }

.right_none {
  border-right: 0; }

img {
  vertical-align: middle; }

span {
  display: inline-block;
  vertical-align: middle; }
