@font-face {
  font-family: "myfont";
  src: url("../font/FZLTXHJW.TTF"); }

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "myfont";
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */ }

html {
  font-size: 10px; }

#MIUI9container {
  width: 100%;
  overflow: hidden; }
/*导航栏样式*/
.navContent {
  width: 1300px;
  margin: auto; }

#header {
  width: 100vw;
  height: 4rem;
  background: #000000;
  line-height: 4rem; }
  #header a {
    color: #b3b3b3;
    text-decoration: none; }
  #header span {
    font-size: 2.5rem; }
  #header ul {
    float: right;
    margin: 0; }
    #header ul li {
      list-style: none;
      float: left;
      margin: 0 1.5rem; }
      #header ul li:hover a {
        color: gray; }
/*分享栏样式*/
.share_container {
  width: 6rem;
  height: 20rem;
  position: fixed;
  right: 6rem;
  bottom: 6rem; }
  .share_container .share_sina, .share_container .share_wechat, .share_container .toTop {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: .5rem;
    background: #E0E0E0;
    margin: 1rem 0;
    line-height: 3.5rem;
    font-size: 2rem;
    opacity: .8;
    color: #ffffff; }
    .share_container .share_sina:hover, .share_container .share_wechat:hover, .share_container .toTop:hover {
      background: #b3b3b3; }
    .share_container .share_sina img, .share_container .share_wechat img, .share_container .toTop img {
      display: none; }
    .share_container .share_sina .sina, .share_container .share_wechat .sina, .share_container .toTop .sina {
      position: relative;
      left: -17rem;
      top: -3.5rem; }
    .share_container .share_sina .wechat, .share_container .share_wechat .wechat, .share_container .toTop .wechat {
      position: relative;
      left: -14rem;
      top: -9rem; }
/*子导航样式*/
.content_header {
  height: 4rem;
  line-height: 4rem;
  color: #a0a0a0; }
  .content_header .title {
    font-size: 1.8rem;
    float: left; }
  .content_header ._active {
    width: 22rem;
    height: 4rem;
    float: right;
    padding: 1.5rem 0; }
    .content_header ._active li {
      list-style: none;
      float: left;
      width: 7rem;
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      border-right: 1px solid #a0a0a0; }
      .content_header ._active li:last-child {
        border: none; }
      .content_header ._active li a {
        color: #a0a0a0;
        text-decoration: none; }
        .content_header ._active li a:hover {
          color: gray; }
/*闪电动画模块*/
.lightning {
  width: 100%;
  height: 80rem;
  background-color: #010001;
  color: #ffffff;
  padding-top: 8rem; }
  .lightning .lightning_animate {
    width: 33rem;
    height: 46rem;
    margin: auto; }
  .lightning .lightning_text {
    width: 50rem;
    height: 20rem;
    margin: auto;
    text-align: center; }
    .lightning .lightning_text p {
      font-size: 7.5rem;
      margin-top: 2rem; }
    .lightning .lightning_text span {
      font-size: 2.8rem;
      letter-spacing: .7rem;
      color: #999999; }
/*页面导航样式*/
.pageNav {
  height: 6rem;
  border-bottom: 1px solid #cccccc;
  background: #ffffff;
  z-index: 999; }
  .pageNav .pageNavContent {
    height: 6rem;
    width: 68rem;
    margin: auto;
    line-height: 6rem; }
    .pageNav .pageNavContent i {
      font-size: 4.5rem;
      vertical-align: middle; }
    .pageNav .pageNavContent span {
      font-size: 1.6rem;
      margin: 0 15rem 0 1.5rem;
      cursor: pointer; }
      .pageNav .pageNavContent span:last-child {
        margin: 0 1.5rem; }
/*急速功能模块*/
.topSpeed {
  height: auto; }
/*传送门模块*/
  .topSpeed .blueCircle {
    width: 224px;
    height: 224px;
    margin: 10rem auto 1rem auto;
    background: url("../img/miui_show_48.png"); }
  .topSpeed .text h2 {
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: .5rem; }
  .topSpeed .text span {
    font-size: 1.3rem;
    color: #999999; }
  .topSpeed p {
    font-size: 1.7rem;
    margin: 2rem 0; }
  .topSpeed .phoneExample {
    width: 440px;
    height: 900px;
    margin: 10rem auto 4rem auto;
    background: url("../img/miui_show_271.png") no-repeat;
    background-size: contain;
    position: relative; }
    .topSpeed .phoneExample img {
      position: relative;
      top: 43.5rem;
      left: 11.2rem; }
      .topSpeed .phoneExample img:first-child {
        z-index: 2;
        cursor: pointer; }
    .topSpeed .phoneExample .bgFlash {
      position: absolute;
      left: 9.3rem;
      top: 41.8rem; }
    /*获得更多模块*/
  .topSpeed .getMore {
    height: 1055px;
    background-color: #000000;
    margin-top: 15rem;
    color: #ffffff;
    padding-top: 70px; }
    .topSpeed .getMore .getMoreContent {
      width: 1150px;
      margin: auto; }
    .topSpeed .getMore h1 {
      font-size: 45px; }
    .topSpeed .getMore img {
      float: left; }
    .topSpeed .getMore .getMore_logo {
      width: 670px;
      height: 600px;
      float: left;
      padding: 200px 0 0 50px; }
        .logoContent{
          width: 95px;
          height: 117px;
          text-align: center;
          float: left;
          margin: 5rem 3rem 0 2rem;
        }
        .logoContent img{
          margin-bottom: 2rem;
        }

        /*进阶选词搜索*/
  .topSpeed .chooseSearch {
    height: 800px;
    background-color: #FAFAFA; }
  .topSpeed .chooseSearchContent {
    width: 1060px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid transparent; }
    .topSpeed .chooseSearchContent .chooseSearchContentText {
      width: 500px;
      margin-top: 300px;
      color: #626262;
      float: left; }
      .topSpeed .chooseSearchContent .chooseSearchContentText h1 {
        font-size: 45px; }
    .topSpeed .chooseSearchContent img {
      margin: 72px 120px; }
  .topSpeed .searchPic {
    height: 500px;
    color: #626262;
    border-bottom: 1px solid #cccccc; }
    .topSpeed .searchPic .greenCircle {
      width: 224px;
      height: 224px;
      margin: 10rem auto 1rem auto;
      background: url("../img/miui_show_47.png"); }
  .topSpeed .fastEfficient {
    height: 1140px;
    padding-top: 150px;
    text-align: center;
    background: url("../img/miui_show_49.jpg") repeat-x -340px 440px; }
    .topSpeed .fastEfficient .text {
      color: #626262; }
    .topSpeed .fastEfficient img {
      margin-top: 50px; }
/*深度查找模块*/
  .topSpeed .deepSearch {
    height: 930px;
    background-color: #FAFAFA;
    position: relative; }
    .topSpeed .deepSearch .deepSearchContent {
      width: 1200px;
      margin: auto;
      border: 1px solid transparent; }
    .topSpeed .deepSearch img {
      margin-top: 100px; }
    .topSpeed .deepSearch .text {
      color: #626262;
      width: 600px;
      float: left;
      margin: 500px 50px 0 0; }
      .topSpeed .deepSearch .text img {
        margin: 0; }
  .topSpeed .papersFile .text {
    color: #626262;
    margin-top: 100px; }
  .topSpeed .papersFile ul {
    width: 1000px;
    height: 150px;
    margin: 100px auto; }
  .topSpeed .papersFile li {
    list-style: none;
    float: left;
    margin-left: 90px; }
    .topSpeed .papersFile li span {
      width: 150px;
      display: inline-block;
      text-align: center;
      margin-top: 20px; }
  .topSpeed .printScreen {
    height: 882px;
    background-color: #FAFAFA;
    overflow: hidden; }
    .topSpeed .printScreen img {
      margin-top: 100px; }
    .topSpeed .printScreen .printScreenContent {
      width: 1200px;
      margin: auto; }
    .topSpeed .printScreen .text {
      width: 500px;
      float: right;
      color: #626262;
      margin: 450px 100px 0 0; }
      .topSpeed .printScreen .text img {
        margin-top: 20px; }

/*信息助手 */
.sys_news_help {
  height: 690px; }

.sys_news {
  margin: 0 auto;
  width: 1240px;
  padding: 350px 0 0 0;
  background: url("../img/miui_show_58.png") no-repeat center 130px;
  height: 595px; }
  .sys_news h2 {
    font-size: 50px;
    color: #626262;
    line-height: 80px;
    text-align: center; }
  .sys_news h3 {
    font-size: 24px;
    color: #626262;
    line-height: 36px;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 30px; }
  .sys_news p {
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    color: #626262;
    padding: 0 20px; }
/*常用高频功能 */
.sys_always_use {
  height: 840px;
  background: url("../img/miui_show_102.png") repeat-x center bottom; }

.sys_function {
  margin: 0 auto;
  width: 1240px;
  padding: 270px 80px 0 600px;
  background: url("../img/29.png") no-repeat 60px 105px;
  height: 840px; }
  .sys_function h2 {
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    color: #4a4b4d;
    margin-bottom: 20px; }
  .sys_function p {
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    color: #4b4c4e;
    padding: 0 10px 40px; }
  .sys_func_list {
    list-style: none;
    width: 660px;
    height: 130px;
    margin-left: -65px; }
    .sys_func_list li {
      width: 110px;
      height: 130px;
      padding-top: 70px;
      float: left;
      color: #585858;
      text-align: center;
      line-height: 60px; }
    .sys_func_list .sys_func1 {
      background: url("../img/miui_show_60.png") no-repeat center top; }
    .sys_func_list .sys_func2 {
      background: url("../img/miui_show_61.png") no-repeat center top; }
    .sys_func_list .sys_func3 {
      background: url("../img/miui_show_62.png") no-repeat center top; }
    .sys_func_list .sys_func4 {
      background: url("../img/miui_show_63.png") no-repeat center top; }
    .sys_func_list .sys_func5 {
      background: url("../img/miui_show_64.png") no-repeat center top; }
    .sys_func_list .sys_func6 {
      background: url("../img/miui_show_65.png") no-repeat center top; }
/*收藏部分 */
.sys_focus_collect {
  height: 960px; }

.sys_collect {
  background: url("../img/miui_show_66.png") no-repeat 747px 75px;
  margin: 0 auto;
  width: 1240px;
  padding: 290px 570px 0 70px;
  height: 960px; }
  .sys_collect h2 {
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    color: #626262;
    margin-bottom: 20px; }
  .sys_collect p {
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    color: #626262;
    padding: 0 50px; }
/*行程预定信息 */
.sys_order_news {
  height: 960px;
  background-color: #f3f5f8; }

.sys_order {
  width: 1240px;
  margin: 0 auto;
  padding-top: 80px;
  height: 960px;
  background: url("../img/miui_show_103.png") no-repeat center bottom; }
  .sys_order h2 {
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    color: #595959;
    margin: 0 0 10px 0; }
  .sys_order p {
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    color: #595959;
    padding: 0 50px; }
    .sys_order p span {
      font-size: 14px;
      color: #7c878f; }
/*日常所需 */
.sys_dayneed {
  height: 811px;
  border-bottom: 1px solid #eeeeee; }

.sys_day {
  width: 1240px;
  height: 730px;
  padding-top: 80px;
  margin: 0 auto; }
  .sys_day h2 {
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    color: #595959;
    margin-bottom: 100px; }
  .sys_day_list {
    list-style: none;
    width: 1240px;
    height: 130px;
    margin: 0;
    padding: 0 20px; }
    .sys_day_list li {
      width: 200px;
      height: 260px;
      padding-top: 140px;
      float: left;
      color: #585858;
      text-align: center;
      line-height: 60px; }
    .sys_day_list .sys_list_1 {
      background: url("../img/miui_show_69.png") no-repeat center top; }
    .sys_day_list .sys_list_2 {
      background: url("../img/miui_show_70.png") no-repeat center top; }
    .sys_day_list .sys_list_3 {
      background: url("../img/miui_show_71.png") no-repeat center top; }
    .sys_day_list .sys_list_4 {
      background: url("../img/miui_show_72.png") no-repeat center top; }
    .sys_day_list .sys_list_5 {
      background: url("../img/miui_show_73.png") no-repeat center top; }
    .sys_day_list .sys_list_6 {
      background: url("../img/miui_show_74.png") no-repeat center top; }
    .sys_day_list .sys_list_7 {
      background: url("../img/miui_show_75.png") no-repeat center top; }
    .sys_day_list .sys_list_8 {
      background: url("../img/miui_show_76.png") no-repeat center top; }
    .sys_day_list .sys_list_9 {
      background: url("../img/miui_show_77.png") no-repeat center top; }
    .sys_day_list .sys_list_10 {
      background: url("../img/miui_show_78.png") no-repeat center top; }
    .sys_day_list .sys_list_11 {
      background: url("../img/miui_show_79.png") no-repeat center top; }
    .sys_day_list .sys_list_12 {
      background: url("../img/miui_show_106.png") no-repeat center top; }
/*闪电系统 */
.sys_title {
  margin: 0 auto;
  width: 1240px;
  height: 600px;
  background: url("../img/miui_show_80.png") no-repeat center 130px;
  padding-top: 350px; }
  .sys_title h2 {
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    color: #626262;
    margin: 0; }
  .sys_title p {
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    color: #626262;
    padding: 0 20px;
    margin: 0; }
/*应用启动速度快 */
.sys_open_fast {
  height: 960px;
  background-image: url("../img/miui_show_82.jpg"); }

.sys_fast {
  width: 1240px;
  text-align: center;
  height: 880px;
  margin: 0 auto;
  padding-top: 80px; }
  .sys_fast h2 {
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    margin-top: 10px; }
  .sys_fast p {
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    padding: 0 50px; }
/*视频播放部分 */
.sys_open_video {
  width: 900px;
  height: 508px;
  margin: 65px auto 0 auto;
  background-color: black;
  position: relative; }
  .sys_open_video video {
    width: 900px;
    height: 508px; }

.sys_button {
  width: 70px;
  height: 70px;
  left: 415px;
  top: 219px;
  position: absolute;
  border: none;
  background: url("../img/miui_show_83.png") no-repeat center center;
  text-indent: -9999px;
  cursor: pointer; }

.sys_close {
  display: none;
  cursor: pointer;
  position: absolute;
  right: -20px;
  top: -20px;
  z-index: 1001; }
/*玩游戏和上网快*/
.sys_play_surf {
  height: 960px;
  background: url("../img/miui_show_84.png"); }

.sys_play {
  width: 1240px;
  height: 880px;
  padding-top: 80px;
  margin: 0 auto; }
  .sys_play h2 {
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    color: #595959;
    margin-bottom: 10px; }
  .sys_play p {
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    color: #595959;
    padding: 0 50px; }
/*日常综合使用稳定流畅*/
.sys_use_fast {
  background: url("../img/miui_show_85.jpg");
  height: 960px; }
/*系统性能优化黑科技*/
.sys_good {
  background-color: #79859f;
  height: 960px; }

.sys_best {
  background: url("../img/miui_show_107.png") no-repeat center top;
  margin: 0 auto;
  width: 1240px;
  padding: 110px 0 0 0;
  height: 850px; }
  .sys_best h2 {
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    color: #ffffff; }
  .sys_best p {
    line-height: 36px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    padding: 0 20px; }

  /*畅快体验7块*/
.exp_one {
  height: 500px;
  border-bottom: 1px solid #cccccc; }
  .exp_one .exp_pic {
    height: 260px;
    line-height: 362px;
    text-align: center; }
  .exp_one .exp_font {
    text-align: center;
    color: #626262;
    font-size: 50px; }
  .exp_one p {
    font-size: 18px;
    text-align: center;
    color: #626262; }

.exp_two {
  height: 600px; }
  .exp_two h2 {
    text-align: center;
    color: #626262;
    font-size: 50px;
    margin: 100px 0 40px 0; }
  .exp_two p {
    text-align: center;
    font-size: 18px;
    color: #626262; }
  .exp_two .exp_two_pic {
    height: 300px; }
    .exp_two .exp_two_pic .icon {
      width: 1043px;
      height: 300px;
      line-height: 300px;
      margin: auto;
      text-align: center;
      list-style-type: none; }
      .exp_two .exp_two_pic .icon .li_ {
        padding-right: 85px;
        float: left; }
      .exp_two .exp_two_pic .icon .right {
        padding: 0; }

.exp_three {
  color: #ffffff;
  height: 960px;
  background: url("../img/miui_show_96.png") no-repeat center;
  overflow: hidden; }
  .exp_three .exp_three_pic {
    width: 1000px;
    height: 960px;
    margin: -215px auto;
    background: url("../img/miui_show_97.png") no-repeat center; }
  .exp_three h2 {
    font-size: 50px;
    margin: 100px 0 40px 0;
    text-align: center;
     }
  .exp_three .font_three {
    text-align: center;
    font-size: 18px;
     }

.exp_four {
  height: 800px;
  background: #F5E9D3; }
  .exp_four .exp_four_box {
    margin: auto;
    width: 1000px;
    height: 600px; }
    .exp_four .exp_four_box .epx_four_font {
      width: 520px;
      float: left;
      margin-top: 212px;
      text-align: center; }
      .exp_four .exp_four_box .epx_four_font h2 {
        line-height: 80px;
        text-align: center;
        font-size: 50px;
        color: #626262; }
      .exp_four .exp_four_box .epx_four_font p {
        line-height: 36px;
        text-align: center;
        font-size: 18px;
        color: #626262; }
    .exp_four .exp_four_box .epx_four_pic {
      float: right;
      margin-top: 104px;
      width: 365px;
      height: 774px;
      background: url("../img/miui_show_98.png") no-repeat right; }

.exp_five {
  height: 880px; }
  .exp_five .exp_five_box {
    margin: 160px auto;
    width: 1100px;
    height: 600px; }
    .exp_five .exp_five_box .epx_five_pic {
      float: left;
      width: 544px;
      height: 690px;
      background: url("../img/miui_show_99.png") no-repeat center; }
    .exp_five .exp_five_box .epx_five_font {
      margin-top: 200px;
      float: left;
      text-align: center; }
      .exp_five .exp_five_box .epx_five_font h2 {
        line-height: 80px;
        text-align: center;
        font-size: 50px;
        color: #626262; }
      .exp_five .exp_five_box .epx_five_font p {
        font-size: 18px;
        color: #626262; }

.exp_six {
  height: 785px;
  background: #B2D4EF; }
  .exp_six .exp_six_box {
    width: 1000px;
    height: 600px;
    margin: auto; }
    .exp_six .exp_six_box .epx_six_font {
      color: #626262;
      float: left;
      text-align: center;
      margin-top: 200px; }
      .exp_six .exp_six_box .epx_six_font h2 {
        font-size: 50px;
        margin-bottom:40px;
        color: #626262; }
    .exp_six .exp_six_box .font_six {
      font-size: 18px;
      color: #626262; }
    .exp_six .exp_six_box .epx_six_pic {
      width: 980px;
      height: 785px;
      background: url("../img/miui_show_100.png") no-repeat center; }

.exp_seven {
  height: 960px;
  border-bottom: 1px solid #d8d2d2; }
  .exp_seven .exp_seven_box {
    width: 1000px;
    height: 600px;
    margin: 100px auto; }
    .exp_seven .exp_seven_box .epx_seven_pic {
      width: 418px;
      height: 846px;
      background: url("../img/miui_show_101.png") no-repeat center;
      float: left; }
    .exp_seven .exp_seven_box .epx_seven_font {
      float: right;
      width: 437px;
      height: 300px;
      color: #626262;
      text-align: center;
      margin-top: 250px; }
      .exp_seven .exp_seven_box .epx_seven_font h2 {
        font-size: 50px;
        margin-bottom:40px;
        color: #626262; }
    .exp_seven .exp_seven_box .font_seven {
      font-size: 18px;
      color: #626262; }

    /*底部*/
.foot {
  height: 150px;
  background: #ffffff; }
  .foot p {
    font-size: 18px;
    text-align: center;
    line-height: 150px; }
    .foot p a {
      cursor: pointer;
      color: #209FE1;
      text-decoration: none; }
      .foot p a:hover {
        color: #209FE1; }
/*链接*/
.friend_link {
  background: #f1f1f1;
  height: 140px;
  border: 1px solid transparent; }
  .friend_link .link_ {
    line-height: 20px;
    width: 976px;
    height: 20px;
    margin: 57px auto;
    color: #858585;
    list-style-type: none;
    position: relative; }
    .friend_link .link_ .link {
      width: 120px;
      height: 20px;
      border-right: 1px solid #858585;
      text-align: center;
      float: left; }
      .friend_link .link_ .link a {
        display: inline-block;
        color: #858585; }
        .friend_link .link_ .link a:hover {
          text-decoration: none;
          color: darkorange; }
        /*底部二级菜单*/
    .friend_link .link_ .border_right {
      width: 134px;
      background: url("../img/index_3-1.png") no-repeat;
      background-position: 109px -19px;
      border: none;
      z-index: 22; }
      .friend_link .link_ .border_right:hover {
        background-color: #ffffff;
        background-position: 109px 7px;
        text-decoration: none; }
      .friend_link .link_ .border_right:hover ul {
        display: block; }
      .friend_link .link_ .border_right .link_ul {
        display: none;
        width: 134px;
        height: 96px;
        background: #ffffff;
        text-align: center;
        list-style-type: none;
        position: absolute;
        top: -95px;
        right: 122px; }
        .friend_link .link_ .border_right .link_ul .link_ul_li {
          color: #626262;
          line-height: 32px; }
          .friend_link .link_ .border_right .link_ul .link_ul_li:hover {
            color: darkorange; }
          /*微信hover图片*/
  .friend_link .WeChat:hover .WeChat_pic {
    display: block; }
  .friend_link .WeChat .WeChat_pic {
    display: none;
    position: absolute;
    top: -164px;
    left: 108px;
    width: 150px;
    height: 150px;
    background: url("../img/index_89.png") no-repeat center;
    background-size: contain; }
  .friend_link p {
    text-align: center;
    margin: -33px 0 10px;
    font-size: 10px;
    color: #C5C6C8; }
