@font-face {
  font-family: "myfont";
  src: url("../font/FZLTXHJW.TTF");
}
$fontColor:#626262;
$marginTop:100px;
@mixin liCss{
  list-style: none;
  float: left;
}
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "myfont";
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}
html{
  font-size: 10px;
}
#MIUI9container{
  width: 100%;
  overflow: hidden;
}
.navContent{
  width: 1300px;
  margin: auto;
}
#header{
  width: 100vw;
  height: 4rem;
  background: #000000;
  line-height: 4rem;
  a{
    color: #b3b3b3;
    text-decoration: none;
  }
  span{
    font-size: 2.5rem;
  }
  ul{
    float: right;
    margin: 0;
    li{
      @include liCss;
      margin:0 1.5rem;
      &:hover a{
        color: gray;
      }
    }
  }
}
.share_container{
  width: 6rem;
  height: 20rem;
  position: fixed;
  right: 6rem;
  bottom: 6rem;
  .share_sina,.share_wechat,.toTop{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: .5rem;
    background: #E0E0E0;
    margin: 1rem 0;
    line-height: 3.5rem;
    font-size: 2rem;
    opacity: .8;
    color: #ffffff;
    &:hover{
      background: #b3b3b3;
    }
    img{
      display: none;
    }
    .sina{
      position: relative;
      left:-17rem;
      top: -3.5rem
    }
    .wechat{
      position: relative;
      left:-14rem;
      top: -9rem;
    }
  }
}
.content_header{
  height: 4rem;
  line-height: 4rem;
  color: #a0a0a0;
  .title{
    font-size: 1.8rem;
    float: left;
  }
  ._active{
    width: 22rem;
    height: 4rem;
    float: right;
    padding: 1.5rem 0;
    li{
      @include liCss;
      width: 7rem;
      height: 1rem;
      line-height: 1rem;
      text-align: center;
      border-right: 1px solid #a0a0a0;
      &:last-child{
        border: none;
      }
      a{
        color: #a0a0a0;
        text-decoration: none;
        &:hover{
          color: gray;
        }
      }
    }
  }
}
.lightning{
  width: 100%;
  height: 80rem;
  background-color: #010001;
  color: #ffffff;
  padding-top: 8rem;
  .lightning_animate{
    width: 33rem;
    height: 46rem;
    margin: auto;
  }
  .lightning_text{
    width: 50rem;
    height: 20rem;
    margin: auto;
    text-align: center;
    p{
      font-size:7.5rem;
      margin-top: 2rem;
    }
    span{
      font-size:2.8rem;
      letter-spacing: .7rem;
      color: #999999;
    }
  }
}
.pageNav{
  height: 6rem;
  border-bottom:1px solid #cccccc ;
  background: #ffffff;
  z-index: 999;
  .pageNavContent{
    height: 6rem;
    width: 65rem;
    margin: auto;
    line-height:6rem;

    i{
      font-size: 4.5rem;
      vertical-align: middle;
    }
    span{
      font-size: 1.6rem;
      margin: 0 15rem 0 1.5rem;
      cursor: pointer;
      &:last-child{
        margin:0 1.5rem
      }
    }
  }
}
.topSpeed{
  height: auto;
  .blueCircle{
    width: 224px;
    height: 224px;
    margin: 10rem auto 1rem auto;
    background: url("../img/miui_show_48.png");
  }
  .text{
    h2{
      font-size: 4.5rem;
      font-weight: 600;
      letter-spacing: .5rem;
    }
    span{
      font-size: 1.3rem;
      color: #999999;
    }
  }
  p{
    font-size: 1.7rem;
    margin: 2rem 0;
  }
    .phoneExample{
      width: 440px;
      height: 900px;
      margin: 10rem auto 4rem auto;
      background: url("../img/miui_show_271.png") no-repeat;
      background-size: contain;
      position: relative;
      img{
        position: relative;
        top:43.5rem;
        left: 11.2rem;
        &:first-child{
          z-index: 2;
          cursor: pointer;
        }
      }
      .bgFlash{
        position: absolute;
        left: 9.3rem;
        top: 41.8rem;
      }

    }

  .getMore{
    height: 1055px;
    background-color: #000000;
    margin-top: 15rem;
    color:#ffffff;
    padding-top: 70px;
    .getMoreContent{
      width: 1150px;
      margin: auto;
    }
    h1{
      font-size: 45px;
    }
    img{
      float: left;
    }
    .getMore_logo{
      width: 650px;
      height: 600px;
      float: left;
      padding: 200px 0 0 50px;
      li{
        list-style: none;
        float: left;
        img{
          margin: 5rem 3rem 0 2rem;
        }
        span{
          display: inline-block;
          width: 140px;
          text-align: center;
          margin-top: 2rem;
        }
      }
    }
  }
  .chooseSearch{
    height: 800px;
    background-color: #FAFAFA;
  }
  .chooseSearchContent{
    width: 1060px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid transparent;
    .chooseSearchContentText{
      width: 500px;
      margin-top: 300px;
      color: $fontColor;
      float: left;
      h1{
        font-size: 45px;
      }
    }
      img{
        margin: 72px 120px;
      }
  }
  .searchPic{
    height: 500px;
    color: $fontColor;
    border-bottom: 1px solid #cccccc;
    .greenCircle{
      width: 224px;
      height: 224px;
      margin: 10rem auto 1rem auto;
      background: url("../img/miui_show_47.png");
    }
  }
  .fastEfficient{
    height: 1140px;
    padding-top: 150px;
    text-align: center;
    background: url("../img/miui_show_49.jpg") repeat-x -340px 440px;
    .text{
      color:$fontColor;
    }
    img{
      margin-top: 50px;
    }
  }
  .deepSearch{
    height: 930px;
    background-color: #FAFAFA;
    position: relative;
    .deepSearchContent{
      width: 1200px;
      margin: auto;
      border: 1px solid transparent;
    }
    img{
      margin-top: $marginTop;
    }
    .text{
      color: $fontColor;
      width: 600px;
      float: left;
      margin: 500px 50px 0 0;
      img{
        margin: 0;
      }
    }
  }
  .papersFile{
    .text {
      color: $fontColor;
      margin-top: $marginTop;
    }
    ul{
      width: 1000px;
      height: 150px;
      margin: 100px auto;
    }
    li{
      @include liCss;
      margin-left: 90px;
      span{
        width: 150px;
        display: inline-block;
        text-align: center;
        margin-top: 20px;
      }
    }
  }
  .printScreen{
    height: 882px;
    background-color: #FAFAFA;
    overflow: hidden;
    img{
      margin-top: $marginTop;
    }
    .printScreenContent{
      width: 1200px;
      margin: auto;
    }
    .text{
      width: 500px;
      float: right;
      color: $fontColor;
      margin: 450px 100px 0 0;
      img{
        margin-top: 20px;
      }
    }
  }
}
